@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./normalize.css');
@import url('../components/Page/Page.css');
@import url('../components/Card/Card.css');
@import url('../components/Search/Search.css');

:root {
  --black: hsl(0, 0%, 0%);
  --silver: hsl(0, 0%, 75%);
  --light-grey: hsla(0, 0%, 70%, 0.75);
  --very-light-grey: hsla(0, 0%, 70%, 0.2);

  font-family: 'Montserrat', sans-serif;
}