.card {
  border: 2px solid var(--black);
  border-radius: 0.5em;

  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: var(--very-light-grey);
}

.card__id {
  color: var(--light-grey);
  font-size: 0.5em;
}

.card__title {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.card__description {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card__brand {
  margin-bottom: 0.2em;
  color: var(--grey);
  font-weight: 200;
}

.card__price {
  font-size: 2em;
  font-weight: 500;
}