.card {
  border: 2px solid var(--black);
  border-radius: 0.5em;

  padding: 1em;
  display: flex;
  flex-direction: column;
}

.card__id {
  color: var(--light-grey);
  font-size: 0.5em;
}

.card__title {
  font-size: 1.5em;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__brand {
  color: var(--grey);
}

.card__price {
  font-size: 2em;
}