.search {
  margin: 1em;
}

.search__form {
  display: flex;
  column-gap: 2em;
  row-gap: 0.5em;
  flex-wrap: wrap;
}

.search__container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.search__input {
  border: 0;
  border-bottom: 1px solid var(--light-grey);
}

.search__input:disabled {
  display: none;
}

.search__submit {
  background-color: transparent;
  cursor: pointer;
}

.search__submit:hover {
  background-color: var(--very-light-grey);
}

.search__controller {
  display: none;
}

.search__controller:checked + .search__switcher {
  color: var(--black);
  font-weight: 500;
}

.search__switcher {
  color: var(--silver);
  cursor: pointer;
}